{% extends "partials/layout.html" %} {% block content %}

<div class="homepage">
  <div>{% include "partials/homepage/menu.html" %}</div>
  <main>
    <div>{% include "partials/homepage/intro.html" %}</div>
    <div>{% include "partials/homepage/social-media.html" %}</div>
    <div>{% include "partials/homepage/tabs.html" %}</div>
    <div>{% include "partials/homepage/sub-list.html" %}</div>
    <div>{% include "partials/homepage/standard.html" %}</div>
    <div>{% include "partials/homepage/awesome.html" %}</div>
    <div>{% include "partials/homepage/pricing.html" %}</div>
    <div>{% include "partials/homepage/testimonials.html" %}</div>
    <div>{% include "partials/homepage/parallax.html" %}</div>
    <div>{% include "partials/homepage/contact.html" %}</div>
  </main>
  <div>{% include "partials/homepage/footer.html" %}</div>
</div>

{% endblock %}
