<section class="awesome">
  <div class="content">
    <div class="heading">
      <h2>why this is awesome</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="inner">
      <ul>
        <li>
          <img src="../images/awesome-1.png" alt="logo" />
          <h3>Thoughtful Design</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra.
          </p>
        </li>
        <li>
          <img src="../images/awesome-2.png" alt="logo" />
          <h3>Well Crafted</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra.
          </p>
        </li>
        <li>
          <img src="../images/awesome-3.png" alt="logo" />
          <h3>Easy to Customize</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
