<section class="contact">
  <div class="content">
    <div class="heading">
      <h2>contact us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="inner">
      <form action="#" method="post">
        <div class="form-wrapper">
          <div class="form-input">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="form-input">
            <label for="name"></label>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="form-input">
            <label for="name"></label>
            <input
              type="text"
              name="subject"
              id="subject"
              placeholder="Subject"
            />
          </div>
        </div>

        <div class="form-wrapper">
          <div class="form-input">
            <label for="message"></label>
            <textarea
              name="message"
              id="message"
              placeholder="Message"
            ></textarea>
          </div>
        </div>
      </form>

      <a href="#">Send Message</a>
    </div>
  </div>
</section>
