<footer>
  <div class="content">
    <ul>
      <li>
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li>
        <a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a class="google" href="#"
          ><i class="fa-brands fa-google-plus-g"></i
        ></a>
      </li>
      <li>
        <a class="pinterest" href="#"><i class="fa-brands fa-pinterest"></i></a>
      </li>
      <li>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a class="rss" href="#"><i class="fa-solid fa-rss"></i></a>
      </li>
    </ul>
    <p>© 2015 Axure Themes</p>
  </div>
</footer>
