<section class="intro">
  <div class="content">
    <div class="right">
      <img src="../images/logo.png" alt="logo" />
      <h1>modern axure template for beautiful prototypes</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo.
      </p>
      <a href="#">Download</a>
    </div>
    <div class="left">
      <form action="#">
        <div class="form-heading">
          <h3>Try Your <span>free</span> Trial Today</h3>
        </div>
        <div class="form-wrapper">
          <div class="input-group">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="input-group">
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <label for="pass"></label>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="Password"
            />
          </div>
          <input type="submit" value="Get Started" />
        </div>
      </form>
    </div>
  </div>
</section>
