<header>
  <div class="content">
    <div class="left">
      <img src="../images/logo.png" alt="logo" />
    </div>

    <div class="toggle-menu">
      <a href="#" id="toggleMenu"><i class="fa-solid fa-bars"></i></a>
    </div>

    <div class="right">
      <nav id="navMenu">
        <a class="close-menu" href="#" id="closeMenu">
          <i class="fa-solid fa-xmark"></i>
        </a>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
