<section class="standard">
  <div class="content">
    <div class="left">
      <div
        class="left__image"
        style="background-image: url('../images/standard-image.png')"
      ></div>
    </div>
    <div class="right">
      <h3>Standard Picture Section</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
        penatibus et magnis dis parturient montes.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet.
      </p>
    </div>
  </div>
</section>
