<section class="sub-list">
  <div class="content">
    <div class="left">
      <div
        class="left__image"
        style="background-image: url('../images/sublist-image.png')"
      ></div>
    </div>
    <div class="right">
      <h3>Sub list section</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo.
      </p>

      <ul>
        <li>
          <img src="../images/logo-upload.png" alt="logo" />
          <h4>Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet.
          </p>
        </li>
        <li>
          <img src="../images/logo-download.png" alt="logo" />
          <h4>Title</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
