<section class="tabs">
  <div class="content">
    <div class="tab-list">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li>
          <button
            class="nav-link active"
            id="pills-tab1-tab"
            data-toggle="pill"
            data-target="#pills-tab1"
            type="button"
            role="tab"
            aria-controls="pills-tab1"
            aria-selected="true"
          >
            TAB 1
          </button>
        </li>
        <li>
          <button
            class="nav-link"
            id="pills-tab2-tab"
            data-toggle="pill"
            data-target="#pills-tab2"
            type="button"
            role="tab"
            aria-controls="pills-tab2"
            aria-selected="false"
          >
            TAB 2
          </button>
        </li>
        <li>
          <button
            class="nav-link"
            id="pills-tab3-tab"
            data-toggle="pill"
            data-target="#pills-tab3"
            type="button"
            role="tab"
            aria-controls="pills-tab3"
            aria-selected="false"
          >
            TAB 3
          </button>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="pills-tab1"
        role="tabpanel"
        aria-labelledby="pills-tab1-tab"
      >
        <h3>Tabs with soft transitioning effect.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
          et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
          natoque penatibus et magnis dis parturient montes.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet.
        </p>
        <a href="#">Download</a>
      </div>

      <div
        class="tab-pane fade"
        id="pills-tab2"
        role="tabpanel"
        aria-labelledby="pills-tab2-tab"
      >
        <h3>Tabs with soft transitioning effect.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
          et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
          natoque penatibus et magnis dis parturient montes.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet.
        </p>
        <a href="#">Download</a>
      </div>

      <div
        class="tab-pane fade"
        id="pills-tab3"
        role="tabpanel"
        aria-labelledby="pills-tab3-tab"
      >
        <h3>Tabs with soft transitioning effect.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
          et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
          natoque penatibus et magnis dis parturient montes.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet.
        </p>
        <a href="#">Download</a>
      </div>
    </div>

    <div class="right">
      <div
        class="right__image"
        style="background-image: url('../images/tabs-image.png')"
      ></div>
    </div>
  </div>
</section>
