<section class="testimonials">
  <div class="content">
    <div class="heading">
      <h2>what our customers are saying</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="inner">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="inner__item">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus accusamus expedita repellat similique odio aspernatur
                ex, architecto eaque quo suscipit.
              </p>
              <img src="../images/avatar-image.png" alt="avatar" />
              <div class="inner__item--author">
                <h3>Jeremy H.</h3>
                <p>Manager</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="inner__item">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus accusamus expedita repellat similique odio aspernatur
                ex, architecto eaque quo suscipit.
              </p>
              <img src="../images/avatar-image.png" alt="avatar" />
              <div class="inner__item--author">
                <h3>Jeremy H.</h3>
                <p>Manager</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="inner__item">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloribus accusamus expedita repellat similique odio aspernatur
                ex, architecto eaque quo suscipit.
              </p>
              <img src="../images/avatar-image.png" alt="avatar" />
              <div class="inner__item--author">
                <h3>Jeremy H.</h3>
                <p>Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
