<footer>
  <div class="content">
    <div class="item">
      <h3>browse</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
    <div class="item">
      <h3>shop</h3>
      <ul>
        <li>Account</li>
        <li>Help & Guide</li>
        <li>Shipping & Returns</li>
        <li>FAQs</li>
      </ul>
    </div>
    <div class="item">
      <h3>contact</h3>
      <ul>
        <li>Quotes PSD Template</li>
        <li>Rudra Street, 12354 Villa</li>
        <li>My State - My Country 987658</li>
      </ul>

      <ul>
        <li>Phone: + 01 234 567 890</li>
        <li>Fax: + 01 234 567 890</li>
        <li>graphicsfuel@gmail.com</li>
      </ul>
    </div>
    <div class="item">
      <h3>subscribe now</h3>
      <p>Get our latest news and product updates daily</p>
      <input type="text" placeholder="Email Address" />
      <button type="submit">Submit</button>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="content">
    <p>2016 © Copyright - Quotes PSD Templates. All rights reserved.</p>
    <ul>
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-pinterest"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>
