<section class="intro">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h1>smile</h1>
            <p>it costs you nothing</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h1>smile</h1>
            <p>it costs you nothing</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h1>smile</h1>
            <p>it costs you nothing</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h1>smile</h1>
            <p>it costs you nothing</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h1>smile</h1>
            <p>it costs you nothing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
