<header class="header">
  <div class="content">
    <div class="header__logo">
      <a href="#">Quotes</a>
    </div>
    <div class="header__menu">
      <a href="#" id="openMenu">Menu</a>
    </div>

    <nav class="header__nav hidden" id="headerMenu">
      <div class="content">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">categories</a></li>
          <li><a href="#">gallery</a></li>
          <li><a href="#">events</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">contact us</a></li>
        </ul>

        <a href="#" class="close-menu"><i class="fa-solid fa-xmark"></i>Close</a>
      </div>
    </nav>
  </div>
</header>
