<section class="reasons">
  <div class="content">
    <div class="heading">
      <h2>Reasons to be happy</h2>
    </div>
    <div class="wrapper">
      <div class="item">
        <h3>you are alive</h3>
        <p>
          Waking up to see another day is a blessing. Don't take it for granted.
          Make it count and be happy that you're alive.
        </p>
        <span>Anonymous</span>
      </div>

      <div class="item">
        <h3>some loves you</h3>
        <p>
          Someone who really loves you sees what a mess you can be, how moody
          you can get, how hard you are to handle, but still wants you in their
          life.
        </p>
        <span>Anonymous</span>
      </div>

      <div class="item">
        <h3>you are alive</h3>
        <p>
          Waking up to see another day is a blessing. Don't take it for granted.
          Make it count and be happy that you're alive.
        </p>
        <span>Anonymous</span>
      </div>

      <div class="item">
        <h3>some loves you</h3>
        <p>
          Someone who really loves you sees what a mess you can be, how moody
          you can get, how hard you are to handle, but still wants you in their
          life.
        </p>
        <span>Anonymous</span>
      </div>
    </div>
    <div class="more">
      <a href="#">more reasons</a>
    </div>
  </div>
</section>
