<section class="testimonials">
  <div class="content">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="inner">
            <p>
              1. I love people who make me laugh. I honestly think it’s the
              thing I like most, to laugh. It cures a multitude of ills. It's
              probably the most important thing in a person.
            </p>
            <span>Audrey Hepburn</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="inner">
            <p>
              2. I love people who make me laugh. I honestly think it’s the
              thing I like most, to laugh. It cures a multitude of ills. It's
              probably the most important thing in a person.
            </p>
            <span>Audrey Hepburn</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="inner">
            <p>
              3. I love people who make me laugh. I honestly think it’s the
              thing I like most, to laugh. It cures a multitude of ills. It's
              probably the most important thing in a person.
            </p>
            <span>Audrey Hepburn</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="bg-image"></div>
</section>
