{% extends "partials/layout.html" %} {% block content %}

<div>{% include "partials/homepage/menu.html" %}</div>
<main class="homepage">
  <div>{% include "partials/homepage/intro.html" %}</div>
  <div>{% include "partials/homepage/4col.html" %}</div>
  <div>{% include "partials/homepage/services.html" %}</div>
  <div>{% include "partials/homepage/about.html" %}</div>
  <div>{% include "partials/homepage/work.html" %}</div>
  <div>{% include "partials/homepage/tabs.html" %}</div>
  <div>{% include "partials/homepage/cta.html" %}</div>
  <div>{% include "partials/homepage/news.html" %}</div>
  <div>{% include "partials/homepage/4col2.html" %}</div>
  <div>{% include "partials/homepage/pricing.html" %}</div>
  <div>{% include "partials/homepage/testimonials.html" %}</div>
  <div>{% include "partials/homepage/team.html" %}</div>
  <div>{% include "partials/homepage/purchase.html" %}</div>
  <div>{% include "partials/homepage/contact.html" %}</div>
</main>
<div>{% include "partials/homepage/footer.html" %}</div>

{% endblock %}
