.testimonials {
  background: url("../images/testimonials-bg.png") no-repeat center center /
    cover;
  padding: 50px 0;

  @media (min-width: $lg) {
    padding: 100px 0;
  }

  .content {
    .heading {
      h2 {
        color: #ffffff;
      }
    }

    .listing {
      text-align: center;
      margin: 0 auto;

      img {
        &:first-of-type {
          margin-top: 10px;
        }

        &:nth-of-type(2) {
          border: 4px solid #18cfab;
          box-shadow: 0 0 0 10px #2b5f62;
          border-radius: 50%;
        }
      }

      p {
        margin: 0;
        padding: 0;
        padding-top: 40px;
        font-size: 16px;
        line-height: 30px;
        color: #bbbbbb;
        font-weight: 300;
        font-family: "Montserrat";
        text-align: center;
      }

      h3 {
        margin: 0;
        padding: 0;
        padding-top: 30px;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: #18cfab;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
      }

      h4 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 27px;
        text-transform: uppercase;
        color: #bbbbbb;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        padding-bottom: 20px;
      }
    }

    .slides {
      margin-top: 100px !important;

      .swiper {
        .custom-pagination {
          width: 100%;
          margin: 0 auto;
          position: initial;
          padding-top: 100px;
          display: flex;
          justify-content: center;

          @media (min-width: $md) {
            justify-content: space-between;
            width: 490px;
          }

          button {
            align-self: center;
          }

          .custom-avatar {
            margin-bottom: 5px;
            display: flex;
            justify-content: space-around;
            @media (min-width: $md) {
              justify-content: space-evenly;
            }

            img {
              width: 18%;
              height: auto;
              border: 2px solid #2b5f62;
              box-shadow: 0 0 0 5px #2b5f62;
              border-radius: 50%;
              margin: 0 7px;
              cursor: pointer;

              @media (min-width: $md) {
                width: 14%;
                margin: 0;
              }

              &.active {
                border-color: #18cfab;
                box-shadow: 0 0 0 5px #2b5f62;
                transform: translateY(-10px);
              }
            }
          }

          .custom-prev,
          .custom-next {
            border: 1px solid #ffffff;
            background-color: transparent;
            color: #ffffff;
            cursor: pointer;
            position: relative;
            padding: 15px;

            img {
              position: absolute;
              top: 25%;
              left: 30%;
              filter: brightness(0) invert(1);
            }

            &:hover {
              background-color: #18cfab;
              border: 1px solid #18cfab;
            }
          }

          .custom-next {
            img {
              left: 35%;
            }
          }
        }
      }
    }
  }
}
