{% extends "partials/layout.html" %} 

{% block content %}

<main class="homepage">
  {% include "partials/homepage/menu.html" %} 
  {% include "partials/homepage/intro.html" %} 
  {% include "partials/homepage/about.html" %} 
  {% include "partials/homepage/testimonials.html" %} 
  {% include "partials/homepage/reasons.html" %} 
  {% include "partials/homepage/cta.html" %}
  {% include "partials/homepage/posters.html" %} 
  {% include "partials/homepage/footer.html" %} 
</main>

{% endblock %}
