<section class="about">
  <div class="content">
    <div class="heading">
      <h3>What we do</h3>
      <h2>story about us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="inner">
      <figure>
        <div
          class="image"
          style="background-image: url('../images/about1.png')"
        ></div>
        <figcaption>
          <img src="../images/team.png" alt="logo" />
          <h4>super team</h4>
        </figcaption>
      </figure>

      <figure>
        <div
          class="image"
          style="background-image: url('../images/about2.png')"
        ></div>
        <figcaption>
          <img src="../images/team.png" alt="logo" />
          <h4>super team</h4>
        </figcaption>
      </figure>

      <figure>
        <div
          class="image"
          style="background-image: url('../images/about3.png')"
        ></div>
        <figcaption>
          <img src="../images/team.png" alt="logo" />
          <h4>super team</h4>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
