<section class="blog">
  <div class="content">
    <div class="heading">
      <h3>Our stories</h3>
      <h2>latest blog</h2>
    </div>
    <div class="inner">
      <div class="inner__item">
        <img src="../images/blog1.png" alt="blog" />
        <span><small>15</small> Jan</span>
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <ul>
          <li><img src="../images/blog-view.png" alt="view" /></li>
          <li>542</li>
          <li><img src="../images/blog-speek.png" alt="speek" /></li>
          <li>17</li>
        </ul>
      </div>

      <div class="inner__item">
        <img src="../images/blog2.png" alt="blog" />
        <span><small>14</small> Jan</span>
        <h4>sed do eiusmod tempor</h4>
        <p>
          Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <ul>
          <li><img src="../images/blog-view.png" alt="view" /></li>
          <li>992</li>
          <li><img src="../images/blog-speek.png" alt="speek" /></li>
          <li>42</li>
        </ul>
      </div>

      <div class="inner__item">
        <img src="../images/blog3.png" alt="blog" />
        <span><small>12</small> Jan</span>
        <h4>incididunt ut labore et dolore</h4>
        <p>
          Elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <ul>
          <li><img src="../images/blog-view.png" alt="view" /></li>
          <li>1560</li>
          <li><img src="../images/blog-speek.png" alt="speek" /></li>
          <li>98</li>
        </ul>
      </div>
    </div>
  </div>
</section>
