<section class="counter">
  <div class="content">
    <div class="counter__item">
      <h4>42</h4>
      <p>web design project</p>
    </div>
    <div class="counter__item">
      <h4>123</h4>
      <p>happy client</p>
    </div>
    <div class="counter__item">
      <h4>15</h4>
      <p>award winner</p>
    </div>
    <div class="counter__item">
      <h4>99</h4>
      <p>cup of coffee</p>
    </div>
    <div class="counter__item">
      <h4>24</h4>
      <p>members</p>
    </div>
  </div>
</section>
