<section class="cta">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <img src="../images/cta2.png" alt="logo" />
            <div>
              <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation.”
              </p>
              <h4>Joshua Earle</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <img src="../images/cta2.png" alt="logo" />
            <div>
              <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation.”
              </p>
              <h4>Joshua Earle</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <img src="../images/cta2.png" alt="logo" />
            <div>
              <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation.”
              </p>
              <h4>Joshua Earle</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
