<footer class="footer">
  <div class="content">
    <div class="footer__item">
      <h2>MoGo</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <span><small>15K</small> followers</span>
      <ul>
        <li>Follow Us:</li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-google"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-dribbble"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-tumblr"></i></a>
        </li>
      </ul>
      <form>
        <div class="form-wrapper">
          <input type="email" name="email" placeholder="Your Email..." />
          <input type="submit" value="SUBSCRIBE" />
        </div>
      </form>
    </div>

    <div class="footer__item">
      <h3>Blogs</h3>
      <div class="footer__item--wrapper">
        <div
          class="images"
          style="background-image: url('../images/blogs-footer-1.png')"
        ></div>
        <div>
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
          <p>Jan 9, 2016</p>
        </div>
      </div>
      <div class="footer__item--wrapper">
        <div
          class="images"
          style="background-image: url('../images/blogs-footer-2.png')"
        ></div>
        <div>
          <h4>Consectetur adipiscing elit, sed do eiusmod tempor</h4>
          <p>Jan 9, 2016</p>
        </div>
      </div>
      <div class="footer__item--wrapper">
        <div
          class="images"
          style="background-image: url('../images/blogs-footer-3.png')"
        ></div>

        <div>
          <h4>sed do eiusmod tempor incididunt ut labore</h4>
          <p>Jan 9, 2016</p>
        </div>
      </div>
    </div>

    <div class="footer__item">
      <h3>Instagram</h3>
      <div class="footer__item--images">
        <div
          class="images"
          style="background-image: url('../images/footer1.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer2.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer3.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer4.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer5.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer6.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer7.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer8.png')"
        ></div>
        <div
          class="images"
          style="background-image: url('../images/footer9.png')"
        ></div>
      </div>
    </div>
  </div>
</footer>

<div class="sub-footer">
  <div class="content">
    <p>© 2016 MoGo free PSD template by <span>Laaqiq</span></p>
  </div>
</div>
