<section class="intro">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h3>Creative Template</h3>
            <h1>welcome to mogo</h1>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h3>Creative Template</h3>
            <h1>welcome to mogo</h1>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h3>Creative Template</h3>
            <h1>welcome to mogo</h1>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="content">
          <div class="inner">
            <h3>Creative Template</h3>
            <h1>welcome to mogo</h1>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
