<header class="header">
  <div class="content">
    <div class="header__logo">
      <a href="#">MoGo</a>
    </div>

    <nav class="header__nav" id="navbar">
      <div class="header__toggle" id="toggleMenu">
        <a href="#" id="openMenu" class="openMenu"
          ><i class="fa-solid fa-bars"></i
        ></a>
        <a href="#" id="closeMenu" class="closeMenu"
          ><i class="fa-solid fa-xmark"></i
        ></a>
      </div>

      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
