<section class="services">
  <div class="content">
    <div class="heading">
      <h3>We work with</h3>
      <h2>Amazing services</h2>
    </div>
    <div class="inner">
      <div class="item">
        <img src="../images/service1.png" alt="service" />
        <h4>Photography</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="item">
        <img src="../images/service2.png" alt="service" />
        <h4>Web design</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="item">
        <img src="../images/service3.png" alt="service" />
        <h4>Creativity</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="item">
        <img src="../images/service4.png" alt="service" />
        <h4>seo</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="item">
        <img src="../images/service5.png" alt="service" />
        <h4>css/html</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="item">
        <img src="../images/service6.png" alt="service" />
        <h4>digital</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
    </div>
  </div>
</section>
