<section class="team">
  <div class="content">
    <div class="heading">
      <h3>Who we are</h3>
      <h2>meet our team</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="inner">
      <figure>
        <div
          class="image"
          style="background-image: url('../images/team1.png')"
        ></div>
        <div class="member-info">
          <h4>Matthew Dix</h4>
          <p>Graphic Design</p>
        </div>
        <figcaption>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </figcaption>
      </figure>

      <figure>
        <div
          class="image"
          style="background-image: url('../images/team2.png')"
        ></div>
        <div class="member-info">
          <h4>Christopher Campbell</h4>
          <p>Branding/UX design</p>
        </div>
        <figcaption>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </figcaption>
      </figure>

      <figure>
        <div
          class="image"
          style="background-image: url('../images/team3.png')"
        ></div>
        <div class="member-info">
          <h4>Michael Fertig</h4>
          <p>Developer</p>
        </div>
        <figcaption>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
