<section class="work">
  <div class="content">
    <div class="heading">
      <h3>Who we do</h3>
      <h2>some of our work</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <div class="inner">
    <figure>
      <div
        class="image"
        style="background-image: url('../images/work1.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work2.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work3.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work4.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work5.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work6.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work7.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>

    <figure>
      <div
        class="image"
        style="background-image: url('../images/work8.png')"
      ></div>
      <figcaption>
        <img src="../images/logo-work.png" alt="logo" />
        <h4>creatively designed</h4>
        <p>Lorem ipsum dolor sit</p>
      </figcaption>
    </figure>
  </div>
</section>
