{% extends "partials/layout.html" %} {% block content %}

<div class="home-page">
  <div>{% include "partials/homepage/menu.html" %}</div>
  <main>
    <div>{% include "partials/homepage/intro.html" %}</div>
    <div>{% include "partials/homepage/services.html" %}</div>
    <div>{% include "partials/homepage/team.html" %}</div>
    <div>{% include "partials/homepage/skills.html" %}</div>
    <div>{% include "partials/homepage/portfolio.html" %}</div>
    <div>{% include "partials/homepage/testimonials.html" %}</div>
    <div>{% include "partials/homepage/contact.html" %}</div>
  </main>
  <div>{% include "partials/homepage/footer.html" %}</div>
</div>

{% endblock %}
