.cta {
  background-color: #f8f8f8;
  padding: 70px 0;

  .inner {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: $md) {
      flex-direction: row;
    }

    > div {
      align-self: center;
    }

    img {
      margin: 0 auto;
      transform: scale(0.5);

      @media (min-width: $md) {
        transform: scale(0.7);
      }

      @media (min-width: $xl) {
        transform: scale(1);
      }
    }

    p {
      font-size: 14px;
      line-height: 1;
      color: #999999;
      font-weight: 300;
      font-style: italic;
      font-family: "Roboto";
      text-align: start;
      width: 100%;
      position: relative;
      padding: 0 30px;

      @media (min-width: $md) {
        font-size: 18px;
        padding: 0;
        padding-right: 30px;
      }

      @media (min-width: $xl) {
        font-size: 24px;
        line-height: 36px;
        width: 910px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        left: 30px;
        bottom: -35%;

        @media (min-width: $md) {
          left: 0;
        }
      }
    }

    h4 {
      font-size: 18px;
      color: #333333;
      font-weight: 400;
      font-family: "Kaushan Script";
      text-align: start;
      padding-top: 15px;
      padding-left: 100px;

      @media (min-width: $md) {
        padding-left: 80px;
        padding-top: 20px;
      }

      @media (min-width: $xl) {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  .swiper {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $xxl) {
      width: 1300px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #cbcbcb;
    transform: scale(0.5);
    font-weight: 900;
  }
}
