.work {
  .inner {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $md) {
      padding-top: 100px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    figure {
      width: 100%;
      margin: 0;

      .image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-top: 312px;

        @media (min-width: $xl) {
          padding-top: 450px;
        }
      }

      figcaption {
        display: none;
      }

      &:hover {
        position: relative;

        width: 100%;

        .image {
          position: absolute;
          left: 0px;
          top: 0px;
        }

        figcaption {
          display: block;
          position: relative;
          z-index: 4;
          text-align: center;
          top: 0px;
          left: 0px;
          height: 100%;
          background: linear-gradient(to bottom, #e37e7d, #ebd383);
          opacity: 0.8;
          padding-bottom: 115px;

          @media (min-width: $md) {
            padding-bottom: 0;
          }

          img {
            padding-top: 25%;
            opacity: 1;
          }

          h4 {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            font-size: 18px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
            opacity: 1;
          }

          p {
            font-size: 15px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 300;
            font-style: italic;
            font-family: "Roboto";
            text-align: center;
          }
        }
      }
    }
  }
}
