<section class="options">
  <div class="inner">
    <div class="item">
      <img src="../images/briefcase-icon.png" alt="icon" />
      <h2>4609</h2>
      <p>Works</p>
    </div>
    <div class="item">
      <img src="../images/user-icon.png" alt="icon" />
      <h2>3470</h2>
      <p>Customers</p>
    </div>
    <div class="item">
      <img src="../images/cart-icon.png" alt="icon" />
      <h2>2908</h2>
      <p>Purchase</p>
    </div>
    <div class="item">
      <img src="../images/map-icon.png" alt="icon" />
      <h2>1908</h2>
      <p>Office</p>
    </div>
  </div>
</section>
