<section class="options">
  <div class="inner">
    <div class="item">
      <img src="../images/hand-icon.png" alt="icon" />
      <h3>Different theme option</h3>
    </div>
    <div class="item">
      <img src="../images/rubyn.png" alt="icon" />
      <h3>fully customizable</h3>
    </div>
    <div class="item">
      <img src="../images/lightbulb-big-icon.png" alt="icon" />
      <h3>unlimited support</h3>
    </div>
    <div class="item">
      <img src="../images/devices-icon.png" alt="icon" />
      <h3>responsive all device</h3>
    </div>
  </div>
</section>
