<section
  class="company"
  style="background-image: url('../images/about-bg.png')"
>
  <div class="company__content-left">
    <img src="/images/devices.png" alt="dev" />
  </div>
  <div class="company__content-right">
    <div class="content">
      <div class="content--tabs">
        <h2>About Our Company</h2>

        <ul>
          <li>
            <button class="tab-filter" data-tab="tab-filter-1">
              Our history
            </button>
          </li>
          <li>
            <button class="tab-filter" data-tab="tab-filter-2">
              Our biography
            </button>
          </li>
          <li>
            <button class="tab-filter active" data-tab="tab-filter-3">
              Our skills
            </button>
          </li>
        </ul>

        <div class="tab right" id="tab-filter-1">
          <div class="progress">
            <div
              class="progress__bar progress__bar--first"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">user interface</p>
            </div>
          </div>
          <div class="progress">
            <!-- progress__bar progress__bar--second -->
            <div
              class="progress__bar progress__bar--second"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">web design</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--third"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">wordpress</p>
            </div>
          </div>
        </div>

        <div class="tab right" id="tab-filter-2">
          <div class="progress">
            <div
              class="progress__bar progress__bar--second"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">web design</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--third"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">wordpress</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--four"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">html & css</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--five"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">app design</p>
            </div>
          </div>
        </div>

        <div class="tab right active" id="tab-filter-3">
          <div class="progress">
            <div
              class="progress__bar progress__bar--first"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">user interface</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--second"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">web design</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--third"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">wordpress</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--four"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">html & css</p>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress__bar progress__bar--five"
              role="progressbar"
              style="width: 85%"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <p class="progress__paragraph">app design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
