<footer>
  <div class="content">
    <div class="item">
      <a href="#"><img src="../images/logo.png" alt="theHam" /></a>
      <p>
        Lorem ipsum dolor sit amet, con is sectetur adipiscing elit. Duis ut lob
        ortis nulla. Vestibulum ante ipsum primis itrices posuere cubilia.
      </p>
      <ul>
        <li><b>Office:</b></li>
        <li>795 Folsom Ave, Suite 600 San Francisco, CA 94107</li>
        <li>
          <b>Phone:</b>
          (91) 8547 632521
        </li>
        <li>
          <b>Fax:</b>
          (91) 11 4752 1433
        </li>
        <li>
          <b>Email:</b>
          info@canvas.com
        </li>
      </ul>
    </div>
    <div class="item">
      <h2>recent post</h2>
      <div class="item__content">
        <div
          class="bg-image"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div class="item__content--wrapper">
          <h3>A STANDARD IMAGE POST</h3>
          <p>
            Lorem ipsum dolor sit amet, con sectetur adip is lisicing elit, sed
            do.
          </p>
          <span>10 March, 2015</span>
        </div>
      </div>

      <div class="item__content">
        <div
          class="bg-image"
          style="background-image: url('../images/post-2.jpg')"
        ></div>
        <div class="item__content--wrapper">
          <h3>A STANDARD IMAGE POST</h3>
          <p>
            Lorem ipsum dolor sit amet, con sectetur adip is lisicing elit, sed
            do.
          </p>
          <span>10 March, 2015</span>
        </div>
      </div>

      <div class="item__content">
        <div
          class="bg-image"
          style="background-image: url('../images/post-3.jpg')"
        ></div>
        <div class="item__content--wrapper">
          <h3>A STANDARD IMAGE POST</h3>
          <p>
            Lorem ipsum dolor sit amet, con sectetur adip is lisicing elit, sed
            do.
          </p>
          <span>10 March, 2015</span>
        </div>
      </div>
    </div>
    <div class="item">
      <h2>tags</h2>
      <div class="item__buttons">
        <a href="#">audio</a>
        <a href="#">gallery</a>
        <a href="#">image</a>
        <a href="#">audio</a>
        <a href="#">gallery</a>
        <a href="#">image</a>
        <a href="#">audio</a>
        <a href="#">gallery</a>
        <a href="#">image</a>
        <a href="#">audio</a>
        <a href="#">gallery</a>
        <a href="#">image</a>
      </div>

      <div class="item__newsletter">
        <h2>newsletter</h2>
        <p>
          Subscribe to Our Newsletter to get Important News, Amazing Offers.
        </p>
        <div class="item__newsletter--inputs">
          <input type="text" placeholder="Enter email" />
          <a href="#">go</a>
        </div>
      </div>
    </div>
    <div class="item">
      <h2>flicke feedS</h2>
      <div class="item__images">
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
        <div
          class="bg-images"
          style="background-image: url('../images/post-1.jpg')"
        ></div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <p>Copyright 2015 <span>theHam</span> | All Rights Reserved</p>
</div>
