<section class="intro">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url('../images/workspace-1.jpg')"
      >
        <div class="content">
          <div class="inner">
            <h3>the ham is <span>wordpress theme</span></h3>
            <h1>we are creative</h1>
            <p>Just Buy And Enjoy These Awesome Features</p>

            <div>
              <a href="#">explore now</a>
              <a href="#">purchase now</a>
            </div>
          </div>
          <div
            class="bg-images"
            style="background-image: url('../images/workspace-2.jpg')"
          ></div>
        </div>
      </div>

      <div
        class="swiper-slide"
        style="background-image: url('../images/workspace-2.jpg')"
      >
        <div class="content">
          <div class="inner">
            <h3>the ham is <span>wordpress thme</span></h3>
            <h1>we are creative</h1>
            <p>Just Buy And Enjoy These Awesome Features</p>

            <div>
              <a href="#">explore now</a>
              <a href="#">purchase now</a>
            </div>
          </div>
          <div
            class="bg-images"
            style="background-image: url('../images/workspace-1.jpg')"
          ></div>
        </div>
      </div>
    </div>

    <div class="swiper-navigation">
      <div class="custom-prev">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="custom-next">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>
</section>
