<header class="header">
  <div class="content">
    <div class="header__logo">
      <a href="#">
        <img src="../images/logo.png" alt="theHam" />
      </a>
    </div>

    <div class="header__menu">
      <a href="#" id="btnOpenMenu"><i class="fa-solid fa-bars"></i></a>
    </div>

    <nav class="header__nav" id="navbar">
      <div class="header__toggle" id="toggleMenu">
        <a href="#" id="btnCloseMenu" class="closeMenu"
          ><i class="fa-solid fa-xmark"></i
        ></a>
      </div>

      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">skills</a></li>
        <li><a href="#">service</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">testimonials</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">contact</a></li>
        <li>
          <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
