<section class="price">
  <div class="content">
    <div class="heading">
      <h2>Our Pricing Table</h2>
    </div>
    <div class="listing">
      <div class="listing__item">
        <div class="listing__item--head">
          <h3>Personal</h3>
          <p class="listing-paragraph">$99<span>/Mounth</span></p>
        </div>
        <div class="listing__item--body">
          <ul>
            <li>1 Hosting</li>
            <li>2 Email Marketing</li>
            <li>5 Database</li>
            <li>2 Design Pack</li>
            <li>3 Website Layouts</li>
            <li>5 Header Style</li>
            <li>3 Online Store</li>
            <li><a href="#">buy now</a></li>
          </ul>
        </div>
      </div>
      <div class="listing__item">
        <div class="listing__item--head">
          <h3>Business</h3>
          <p class="listing-paragraph">$199<span>/Mounth</span></p>
        </div>
        <div class="listing__item--body">
          <ul>
            <li>1 Hosting</li>
            <li>2 Email Marketing</li>
            <li>5 Database</li>
            <li>2 Design Pack</li>
            <li>3 Website Layouts</li>
            <li>5 Header Style</li>
            <li>3 Online Store</li>
            <li><a href="#">buy now</a></li>
          </ul>
        </div>
      </div>
      <div class="listing__item listing__item-light">
        <div class="listing__item--head listing__item-light--head">
          <p>Offer</p>
          <h3>Professional</h3>
          <p class="listing-paragraph">$299<span>/Mounth</span></p>
        </div>
        <div class="listing__item--body listing__item-light--body">
          <ul>
            <li>1 Hosting</li>
            <li>2 Email Marketing</li>
            <li>5 Database</li>
            <li>2 Design Pack</li>
            <li>3 Website Layouts</li>
            <li>5 Header Style</li>
            <li>3 Online Store</li>
            <li><a href="#">buy now</a></li>
          </ul>
        </div>
      </div>
      <div class="listing__item">
        <div class="listing__item--head">
          <h3>Diamond</h3>
          <p class="listing-paragraph">$299<span>/Mounth</span></p>
        </div>
        <div class="listing__item--body">
          <ul>
            <li>1 Hosting</li>
            <li>2 Email Marketing</li>
            <li>5 Database</li>
            <li>2 Design Pack</li>
            <li>3 Website Layouts</li>
            <li>5 Header Style</li>
            <li>3 Online Store</li>
            <li><a href="#">buy now</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
