<section class="purchase">
  <div class="content">
    <div class="heading">
      <h2>
        theham is not only wordpress theme
        <span>it’s also clean and creative design</span>
      </h2>
    </div>
    <div class="wrapper">
      <div
        class="bg-image"
        style="background-image: url('../images/tablet.png')"
      ></div>
      <ul>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Clean Layout Design</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Many Style Portfolio Design</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Beautiful Blog Page</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Mega PSD Pack</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>User Friendly Design</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Full Shortcodes</p>
        </li>
        <li>
          <img src="../images/check-icon.png" alt="icon" />
          <p>Fully Editable PSD</p>
        </li>
        <li>
          <a href="#">purchase now</a>
        </li>
      </ul>
    </div>
  </div>
</section>
