<section class="services">
  <div class="content">
    <div class="heading">
      <h2>Creative Amazing Features</h2>
    </div>
    <div class="wrapper">
      <div class="item">
        <img src="../images/leaf-icon.png" alt="logo" />
        <h3>Retina Ready</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/edit-icon.png" alt="logo" />
        <h3>Creative Blog Style</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/magnifying-icon.png" alt="logo" />
        <h3>Icon Fonts</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/time-icon.png" alt="logo" />
        <h3>Parallax Effects</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/laptop-icon.png" alt="logo" />
        <h3>Amazing Interface</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/tools-icon.png" alt="logo" />
        <h3>SEO Optimized</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/lightbulb-icon.png" alt="logo" />
        <h3>Creative Solutions</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/plain-icon.png" alt="logo" />
        <h3>Mega Menus</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>

      <div class="item">
        <img src="../images/card-icon.png" alt="logo" />
        <h3>Custom Backgrounds</h3>
        <p>
          All our modules are built with the possi bility to thse choose between
          different design and you change.
        </p>
      </div>
    </div>
  </div>
</section>
