<section class="tabs">
  <div class="content">
    <div class="heading">
      <h2>Our Services</h2>
    </div>

    <div class="wrapper">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-webdesign-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-webdesign"
            type="button"
            role="tab"
            aria-controls="nav-webdesign"
            aria-selected="true"
          >
            Web Design
          </button>

          <button
            class="nav-link"
            id="nav-graphic-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-graphic"
            type="button"
            role="tab"
            aria-controls="nav-graphic"
            aria-selected="false"
          >
            Graphic Design
          </button>

          <button
            class="nav-link"
            id="nav-support-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-support"
            type="button"
            role="tab"
            aria-controls="nav-support"
            aria-selected="false"
          >
            Online Support
          </button>

          <button
            class="nav-link"
            id="nav-app-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-app"
            type="button"
            role="tab"
            aria-controls="nav-app"
            aria-selected="false"
          >
            App Design
          </button>

          <button
            class="nav-link"
            id="nav-marketing-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-marketing"
            type="button"
            role="tab"
            aria-controls="nav-marketing"
            aria-selected="false"
          >
            Online Marketing
          </button>

          <button
            class="nav-link"
            id="nav-seo-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-seo"
            type="button"
            role="tab"
            aria-controls="nav-seo"
            aria-selected="false"
          >
            SEO Service
          </button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-webdesign"
          role="tabpanel"
          aria-labelledby="nav-webdesign-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-1.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <div
          class="tab-pane fade"
          id="nav-graphic"
          role="tabpanel"
          aria-labelledby="nav-graphic-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-2.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <div
          class="tab-pane fade"
          id="nav-support"
          role="tabpanel"
          aria-labelledby="nav-support-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-3.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <div
          class="tab-pane fade"
          id="nav-app"
          role="tabpanel"
          aria-labelledby="nav-app-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-4.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <div
          class="tab-pane fade"
          id="nav-marketing"
          role="tabpanel"
          aria-labelledby="nav-marketing-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-5.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>

        <div
          class="tab-pane fade"
          id="nav-seo"
          role="tabpanel"
          aria-labelledby="nav-seo-tab"
        >
          <div
            class="bg-image"
            style="background-image: url('../images/post-6.jpg')"
          ></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit
            amet, consectetur adip isicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
