<section class="team">
  <div class="content">
    <div class="heading">
      <h2>Meet Our Team</h2>
    </div>
    <div class="wrapper">
      <figure>
        <div
          class="bg-image"
          style="background-image: url('../images/team-1.png')"
        ></div>
        <figcaption>
          <h3>creative design</h3>
          <p>UX Designer</p>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-vine"></i></a>
            </li>
          </ul>
          <img src="../images/team-view.png" alt="icon" />
        </figcaption>
      </figure>

      <figure>
        <div
          class="bg-image"
          style="background-image: url('../images/team-2.png')"
        ></div>
        <figcaption>
          <h3>creative design</h3>
          <p>UX Designer</p>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-vine"></i></a>
            </li>
          </ul>
          <img src="../images/team-view.png" alt="icon" />
        </figcaption>
      </figure>

      <figure>
        <div
          class="bg-image"
          style="background-image: url('../images/team-3.png')"
        ></div>
        <figcaption>
          <h3>creative design</h3>
          <p>UX Designer</p>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-vine"></i></a>
            </li>
          </ul>
          <img src="../images/team-view.png" alt="icon" />
        </figcaption>
      </figure>

      <figure>
        <div
          class="bg-image"
          style="background-image: url('../images/team-4.png')"
        ></div>
        <figcaption>
          <h3>creative design</h3>
          <p>UX Designer</p>
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-vine"></i></a>
            </li>
          </ul>
          <img src="../images/team-view.png" alt="icon" />
        </figcaption>
      </figure>
    </div>
  </div>
</section>
