<section class="work">
  <div class="content">
    <div class="heading">
      <h2>Our Amazing Work</h2>
    </div>
    <div class="wrapper">
      <div class="buttons">
        <a href="#">All</a>
        <a href="#">Graphic Desing</a>
        <a href="#">Web Design</a>
        <a href="#">Leading Pages</a>
        <a href="#">Wordpress</a>
      </div>

      <div class="items">
        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-1.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-2.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-3.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-4.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-5.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-6.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-7.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-8.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-5.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-6.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-7.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>

        <figure>
          <div
            class="bg-image"
            style="background-image: url('../images/post-8.jpg')"
          ></div>
          <figcaption>
            <div class="icons">
              <a href="#"><i class="fa-solid fa-link"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <h3>creative design</h3>
            <p>Web Design</p>
          </figcaption>
        </figure>
      </div>

      <a href="#" class="load-more"
        ><i class="fa-solid fa-plus"></i>load more</a
      >
    </div>
  </div>
</section>
