{% extends "partials/layout.html" %} {% block content %}

<div class="homepage">
  <div>{% include "partials/homepage/menu.html" %}</div>
  <main>
    <div>{% include "partials/homepage/intro.html" %}</div>
    <div>{% include "partials/homepage/about.html" %}</div>
    <div>{% include "partials/homepage/counter.html" %}</div>
    <div>{% include "partials/homepage/services.html" %}</div>
    <div>{% include "partials/homepage/design.html" %}</div>
    <div>{% include "partials/homepage/wedo.html" %}</div>
    <div>{% include "partials/homepage/cta1.html" %}</div>
    <div>{% include "partials/homepage/team.html" %}</div>
    <div>{% include "partials/homepage/partners.html" %}</div>
    <div>{% include "partials/homepage/work.html" %}</div>
    <div>{% include "partials/homepage/cta2.html" %}</div>
    <div>{% include "partials/homepage/testimonials.html" %}</div>
    <div>{% include "partials/homepage/blog.html" %}</div>
    <div>{% include "partials/homepage/map.html" %}</div>
  </main>
  <div>{% include "partials/homepage/footer.html" %}</div>
</div>
{% endblock %}
