.homepage {
  @import "menu";
  @import "intro";
  @import "social-media";
  @import "tabs";
  @import "sub-list";
  @import "standard";
  @import "awesome";
  @import "pricing";
  @import "testimonials";
  @import "parallax";
  @import "contact";
  @import "footer";

  .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;

    @media (min-width: $xl) {
      width: 1250px;
    }

    // content header
    .heading {
      padding-bottom: 50px;

      @media (min-width: $md) {
        padding-bottom: 100px;
      }

      h2 {
        font-size: 27px;
        line-height: 43px;
        color: #212121;
        font-weight: 400;
        font-family: "Raleway";
        text-align: center;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 30px;

        @media (min-width: $md) {
          font-size: 36px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 10px;
          width: 65px;
          height: 2px;
          background-color: #ff8b38;
          transform: translateX(-50%);
        }
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
        font-weight: 400;
        font-family: "Open Sans";
      }
    }

    // content body
    .inner {
    }

    // content left part
    .left {
      width: 100%;

      @media (min-width: $md) {
        width: 50%;
      }
    }

    // content right part
    .right {
      width: 100%;

      @media (min-width: $md) {
        width: 50%;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #333333;
        font-weight: 700;
        font-family: "Open Sans";
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        color: #86878b;
        font-weight: 400;
        font-family: "Open Sans";
      }
    }
  }
}
