<section class="contact">
  <div class="content">
    <div class="content__content-heading">
      <h2>Get in touch</h2>
      <p>
        1600 Pennsylvania Ave NW, Washington, DC 20500, United States of
        America. Tel: (202) 456-1111
      </p>
    </div>
    <div class="content__content-body">
      <form action="#">
        <div class="inputs">
          <div class="form-group">
            <label for="name"></label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Your Name *"
            />
          </div>
          <div class="form-group">
            <label for="email"></label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email *"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="message"></label>
          <textarea
            name="message"
            id="message"
            placeholder="Your Message *"
          ></textarea>
        </div>

        <input type="submit" value="SEND MESSAGE"></input>
      </form>
    </div>
  </div>
</section>