<section class="portfolio">
  <div class="content">
    <div class="content__content-heading">
      <h2>Our portfolio</h2>
      <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
        <br />
        consectetur, adipisci velit, sed quia non numquam
      </p>
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Web</a></li>
        <li><a href="#">Apps</a></li>
        <li><a href="#">Icons</a></li>
      </ul>
    </div>
    <div class="content__content-body">
      <div class="content__content-body--item">
        <img src="../images/laptop1.png" alt="laptop" />
        <p>Isometric Perspective Mock-Up</p>
      </div>
      <div class="content__content-body--item">
        <img src="../images/laptop2.png" alt="laptop" />
        <p>Time Zone App UI</p>
      </div>
      <div class="content__content-body--item">
        <img src="../images/laptop3.png" alt="laptop" />
        <p>Viro Media Players UI</p>
      </div>
      <div class="content__content-body--item">
        <img src="../images/laptop4.png" alt="laptop" />
        <p>Blog / Magazine Flat UI Kit</p>
      </div>

      <a href="#">Load more projects</a>
    </div>
  </div>
</section>
