<section class="services">
  <div class="content">
    <div class="content__content-heading">
      <h2>Services we provide</h2>
      <p>
        We are working with both individuals and businesses from all over the
        globe <br />
        to create awesome websites and applications.
      </p>
    </div>
    <div class="content__content-body">
      <div class="content__content-body--item">
        <img src="/images/Flag.png" alt="logo" />
        <h3>Branding</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh.
        </p>
      </div>
      <div class="content__content-body--item">
        <img src="/images/Crayon.png" alt="logo" />
        <h3>Design</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
      </div>
      <div class="content__content-body--item">
        <img src="/images/system.png" alt="logo" />
        <h3>Development</h3>
        <p>
          At vero eos et accusamus et iusto odio dignissimos qui blanditiis
          praesentium.
        </p>
      </div>
      <div class="content__content-body--item">
        <img src="/images/Rocket.png" alt="logo" />
        <h3>Rocket science</h3>
        <p>
          Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
        </p>
      </div>
    </div>
  </div>
</section>
