<section class="skills">
  <div class="content">
    <div class="content__content-heading">
      <h2>We got skills!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        <br />
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="content__content-body">
      <div class="content__content-body--item">
        <div class="circular-progress progress-90">
          <div class="progress-ring"></div>
          <span class="percentage">90%</span>
        </div>
        <h4>Web design</h4>
      </div>

      <div class="content__content-body--item">
        <div class="circular-progress progress-75">
          <div class="progress-ring"></div>
          <span class="percentage">75%</span>
        </div>
        <h4>HTML / CSS</h4>
      </div>

      <div class="content__content-body--item">
        <div class="circular-progress progress-70">
          <div class="progress-ring"></div>
          <span class="percentage">70%</span>
        </div>
        <h4>Graphic design</h4>
      </div>

      <div class="content__content-body--item">
        <div class="circular-progress progress-85">
          <div class="progress-ring"></div>
          <span class="percentage">85%</span>
        </div>
        <h4>UI / UX</h4>
      </div>
    </div>
  </div>
</section>
