<section class="team">
  <div class="content">
    <div class="content__content-heading">
      <h2>Meet our beautiful team</h2>
      <p>
        We are a small team of designers and developers, who help brands with
        big ideas.
      </p>
    </div>
    <div class="content__content-body">
      <div class="content__content-body--item">
        <img src="/images/avatar.png" alt="avatar" />
        <h3>ANNE HATHAWAY</h3>
        <span>CEO / Marketing Guru</span>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna.
        </p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <div class="content__content-body--item">
        <img src="/images/avatar.png" alt="avatar" />
        <h3>Kate Upton</h3>
        <span>Creative Director</span>
        <p>
          Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat
          nulla pariatur. Excepteur sint occaecat non diam proident.
        </p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <div class="content__content-body--item">
        <img src="/images/avatar.png" alt="avatar" />
        <h3>Olivia Wilde</h3>
        <span>Lead Designer</span>
        <p>
          Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem nesciunt.
        </p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <div class="content__content-body--item">
        <img src="/images/avatar.png" alt="avatar" />
        <h3>Ashley Greene</h3>
        <span>SEO / Developer</span>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam.
        </p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
